<section class="dt-basic-info">
  <h5 class="title">Mengunjungi Pantai Pulau Lombok</h5>
  <div class="location">
    <div class="tag">Lokasi</div>
    <p class="list">Senggigi, Selong Belanak, Pandanan</p>
  </div>
</section>

<style>
.dt-basic-info {
  @apply py-8 border-b border-slate-200
  
  md:pb-8 md:pt-0;
}

.dt-basic-info .title {
  @apply text-lg font-bold text-slate-800 pb-4
  
  md:text-2xl;
}

.dt-basic-info .location {
  @apply text-slate-600;
}

.dt-basic-info .location .tag {
  @apply text-xxs uppercase font-extrabold
  
  md:text-xs;
}

.dt-basic-info .location .list {
  @apply text-sm
  
  md:text-base;
}

</style>