<div class="dt-itinerary">
  <h5 class="heading-iti">Rencana Perjalanan</h5>

  <div class="lists">
    <div class="item">
      <div class="heading-iti-deta">
        <h5 class="day">Hari Pertama - Pantai Senggigi</h5>
      </div>
      <p class="desc">
        Anda akan mengunjungi pantai senggigi, dengan panorama
        keindahan pantai yang tak tertandingi akan akan begitu takjub
        dengan keindahan yang ada.
      </p>
    </div>

    <div class="item">
      <div class="heading-iti-deta">
        <h5 class="day">Hari Kedua - Pantai Pandanan</h5>
      </div>
      <p class="desc">
        Anda akan mengunjungi pantai senggigi, dengan panorama
        keindahan pantai yang tak tertandingi akan akan begitu takjub
        dengan keindahan yang ada.
      </p>
    </div>

    <div class="item">
      <div class="heading-iti-deta">
        <h5 class="day">Hari Ketiga - Pantai Tiga</h5>
      </div>
      <p class="desc">
        Anda akan mengunjungi pantai senggigi, dengan panorama
        keindahan pantai yang tak tertandingi akan akan begitu takjub
        dengan keindahan yang ada.
      </p>
    </div>
  </div>
</div>

<style>
/* Itinerary */

.dt-itinerary {
  @apply py-8 border-b border-slate-200;
}

.dt-itinerary .heading-iti {
  @apply mb-4 text-lg font-bold text-slate-800;
}

.dt-itinerary .lists {
  @apply space-y-4
  
  sm:space-y-0 sm:grid sm:grid-cols-2 sm:gap-x-4 sm:gap-y-6
  
  md:gap-x-6;
}

.dt-itinerary .lists .item .heading-iti-deta {
  @apply flex items-center space-x-2 pb-2;
}

.dt-itinerary .lists .item .heading-iti-deta .day {
  @apply font-semibold text-sm
  
  md:text-base;
}

.dt-itinerary .lists .item .desc {
  @apply text-sm text-slate-600;
}

</style>