<div class="dt-terms">
  <h5 class="heading-terms">Syarat & Ketentuan</h5>

  <div class="lists">
    <div class="item">
      <img
        class="icon"
        src="./assets/icons/icons-clock.svg"
        alt="icons-clock"
      />
      <p class="desc">Datang 15 Menit sebelum keberangkatan</p>
    </div>

    <div class="item">
      <img
        class="icon"
        src="./assets/icons/icons-pill.svg"
        alt="icons-pill"
      />
      <p class="desc">Harap membawa obat-obatan pribadi</p>
    </div>

    <div class="item">
      <img
        class="icon"
        src="./assets/icons/icons-warning.svg"
        alt="icons-warning"
      />
      <p class="desc">Dilarang membawa senjata tajam</p>
    </div>

    <div class="item">
      <img
        class="icon"
        src="./assets/icons/icons-clock.svg"
        alt="icons-clock"
      />
      <p class="desc">Datang 15 Menit sebelum keberangkatan</p>
    </div>

    <div class="item">
      <img
        class="icon"
        src="./assets/icons/icons-pill.svg"
        alt="icons-pill"
      />
      <p class="desc">Harap membawa obat-obatan pribadi</p>
    </div>

    <div class="item">
      <img
        class="icon"
        src="./assets/icons/icons-warning.svg"
        alt="icons-warning"
      />
      <p class="desc">Dilarang membawa senjata tajam</p>
    </div>
  </div>
</div>

<style>
.dt-terms {
  @apply py-8;
}

.dt-terms .heading-terms {
  @apply mb-4 text-lg font-bold text-slate-800;
}

.dt-terms .lists {
  @apply space-y-4
  
  sm:space-y-0 sm:grid sm:grid-cols-2 sm:gap-x-4 gap-y-3;
}

.dt-terms .lists .item {
  @apply flex items-center space-x-2;
}

.dt-terms .lists .item .desc {
  @apply text-sm;
}
</style>