---
export interface Props {
  btnType: string;
  btnText: string;
  className: string;
}

const { btnType, btnText, className } = Astro.props as Props;
---
{
  btnType == 'withIcon' ? (
    <button class={`btn ${className}`}>
      <slot />
    </button>
  ) : (
    <button class={`btn ${className}`}>
      {btnText}
    </button>
  )
}


<style>
.btn {
  @apply bg-gradient-to-br from-cyan-600 to-cyan-500 text-slate-50 px-8 py-3 lg:px-10 lg:py-4 text-sm lg:text-base font-bold rounded-2xl tracking-wide;
}
</style>